# Служебные файлы Dota 2 Tools
tools_thumbnail_cache.*
tools_asset_info.bin
panorama_debugger.cfg

# Файлы билда
main.vpk

# Кэш и временные файлы
cache/
**/cache/
**/panorama/cache/

# Файлы редакторов и IDE
.vscode/
.idea/
*.sublime-*
*.swp
*.swo
*~
